@model HamburgerAppMVC.Areas.Identity.Data.Entities.Concrete.Menu;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menü</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PictureName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PictureName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
