@model IEnumerable<Menu>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Menü";
}

<section class="content mt-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Menü Listesi</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">

                                <div class="input-group-append">
                                    <a class="btn btn-success btn-sm" asp-action="Create">
                                        <i class="fas fa-plus mr-1">
                                        </i>
                                        Yeni Menü Ekle
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th> @Html.DisplayNameFor(model => model.Id)</th>
                                    <th> @Html.DisplayNameFor(model => model.MenuName)</th>
                                    <th> @Html.DisplayNameFor(model => model.Price)</th>
                                    <th> @Html.DisplayNameFor(model => model.Description)</th>
                                    <th> @Html.DisplayNameFor(model => model.PictureName)</th>
                                    <th> @Html.DisplayNameFor(model => model.IsActive)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.MenuName</td>
                                        <td>@item.Price</td>
                                        <td>@item.Description</td>
                                        <td> <img height="60px" width="60px" src="~/Images/@item.PictureName" alt="Resim Yok" /> </td>
                                        <td>

                                            @if (item.IsActive == true)
                                            {
                                                <span class="badge badge-success">Aktif </span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Pasif </span>
                                            }
                                        </td>

                                        <td class="project-actions text-right">

                                            @if (item.IsActive == true)
                                            {
                                               
                                                <a class="btn btn-primary btn-sm ml-1" id="ShowModal_@item.Id">
                                         
                                                    <i class="fas fa-folder ml-r">
                                                    </i>
                                                    Detay
                                                </a>
                                                <a asp-action="Edit" asp-controller="Menu" asp-route-id="@item.Id" class="btn btn-info btn-sm ml-1">
                                                    <i class="fas fa-pencil-alt mr-1">
                                                    </i>
                                                    Düzenle
                                                </a>
                                                <button class="btn btn-danger btn-sm deleteButton" data-id="@item.Id">
                                                    <i class="fas fa-trash mr-1">
                                                    </i>
                                                    Sil
                                                </button>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary btn-sm ml-1 disabled" href="#">
                                                    <i class="fas fa-folder ml-r">
                                                    </i>
                                                    Detay
                                                </a>
                                                <a class="btn btn-info btn-sm ml-1 disabled">
                                                    <i class="fas fa-pencil-alt mr-1">
                                                    </i>
                                                    Düzenle
                                                </a>
                                                <a class="btn btn-danger btn-sm ml-1 disabled">
                                                    <i class="fas fa-trash mr-1">
                                                    </i>
                                                    Sil
                                                </a>
                                            }

                                        </td>
                                    </tr>

                                    <!-- Modal Details -->
                                    <div class="modal fade" id="exampleModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Menü Detay</h5>
                                                    @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button> *@
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" id="ModalClose_@item.Id" data-dismiss="modal">Kapat</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Delete Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Silme İşlemi Onayı</h5>
            </div>
            <div class="modal-body">
                Menüyü silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Evet</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('[id^="ShowModal"]').click(function () {
                var itemId = $(this).attr('id').split('_')[1];
                $.ajax({
                    type: 'GET',
                    url: '/Menu/Details/' + itemId, //
                    success: function (data) {
                        $('#exampleModal_' + itemId + ' .modal-body').html(data);
                        $('#exampleModal_' + itemId).modal('show');
                    },
                    error: function () {
                        alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                    }
                });
            });

            $('[id^="exampleModal"] .close, [id^="ModalClose"]').click(function () {
                var itemId = $(this).attr('id').split('_')[1];
                $('#exampleModal_' + itemId).modal('hide');
            });

            // Silme işlemini onaylama modalını açmak için butona tıklama olayı
            $('.deleteButton').click(function () {
                var itemId = $(this).data('id');
                $('#deleteConfirmationModal').data('itemId', itemId).modal('show');
            });

            // Silme işlemini onayla butonuna tıklama
            $('#confirmDeleteButton').click(function () {
                var itemId = $('#deleteConfirmationModal').data('itemId');

                console.log("abcde");

                $.ajax({
                    type: 'POST',
                    url: '/Menu/Delete/' + itemId,
                    success: function (response) {
                        if (response.success) {
                            $('#deleteConfirmationModal').modal('hide');
                            location.reload();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                    }
                });
            });

            //modal kapatma
            $('#deleteConfirmationModal .btn-secondary').click(function () {
                $('#deleteConfirmationModal').modal('hide');
            });
        });

    </script>

}
