@model HamburgerAppMVC.Areas.Identity.Data.Entities.Concrete.ExtraMaterial;

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Ekstra Lezzet Sil";
}

<h1>Ekstra Lezzet Sil</h1>

<section class="content ml-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-danger mt-5">
                    <div class="card-header">
                        <h3 class="card-title">Ekstra Lezzeti Sil</h3>
                    </div>
                    <div class="card-body">
                        <h3>Silmek istediğinize emin misiniz?</h3>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.ExtraMaterialName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.ExtraMaterialName)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Price)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Price)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.PictureName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.PictureName)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <button type="submit" class="btn btn-danger">Sil</button>
                            <a asp-action="Index" class="btn btn-secondary ml-2">Listeye Dön</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .custom-alert {
        background-color: rgba(248, 215, 218, 0.7); /* Alert'in rengini soluk yapar */
        border-color: rgba(245, 198, 203, 0.7); /* Kenar rengini soluk yapar */
    }
</style>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}


