@model IEnumerable<HamburgerAppMVC.Areas.Identity.Data.Entities.Concrete.Category>
@{
    Layout = "_AdminLayout";
ViewData["Title"] = "Kategori";
}





<section class="content mt-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Kategori Listesi</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">

                                <div class="input-group-append">
                                    <a class="btn btn-success btn-sm" href="#">
                                        <i class="fas fa-plus mr-1">
                                        </i>
                                         Yeni Kategori Ekle
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th> @Html.DisplayNameFor(model => model.Id)</th>
                                    <th> @Html.DisplayNameFor(model => model.CategoryName)</th>
                                    <th> @Html.DisplayNameFor(model => model.IsActive)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.CategoryName</td>
                                        <td>

                                            @if (item.IsActive == true)
                                            {
                                                <span class="badge badge-success">Aktif </span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Pasif </span>
                                            }
                                        </td>

                                        <td class="project-actions text-right">
                                            
                                            @if (item.IsActive == true)
                                            {

                                                <a class="btn btn-primary btn-sm ml-1" id="ShowModal_@item.Id">
                                                    <i class="fas fa-folder ml-r">
                                                    </i> 
                                                     Detay
                                                </a>
                                                <a class="btn btn-info btn-sm ml-1" href="#">
                                                    <i class="fas fa-pencil-alt mr-1">
                                                    </i>
                                                    Düzenle
                                                </a>
                                                <a class="btn btn-danger btn-sm ml-1" href="#">
                                                    <i class="fas fa-trash mr-1">
                                                    </i>
                                                    Sil
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary btn-sm ml-1 disabled" href="#">
                                                    <i class="fas fa-folder ml-r">
                                                    </i>
                                                    Detay
                                                </a>
                                                <a class="btn btn-info btn-sm ml-1 disabled" href="#">
                                                    <i class="fas fa-pencil-alt mr-1">
                                                    </i>
                                                    Düzenle
                                                </a>
                                                <a class="btn btn-danger btn-sm ml-1 disabled" href="#">
                                                    <i class="fas fa-trash mr-1">
                                                    </i>
                                                    Sil
                                                </a>
                                            }
                                            
                                        </td>
                                    </tr>

                                        <!-- Modal -->
                                    <div class="modal fade" id="exampleModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Kategori Detay</h5>
                                                    @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button> *@
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" id="ModalClose_@item.Id" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@* @section Scripts { 
<script>

    $(document).ready(function () {
        $('[id^="ShowModal"]').click(function () {
            var itemId = $(this).attr('id').split('_')[1];
            $('#exampleModal_' + itemId).modal('show');
        });

        $('[id^="exampleModal"] .close, [id^="ModalClose"]').click(function () {
            var itemId = $(this).attr('id').split('_')[1];
            $('#exampleModal_' + itemId).modal('hide');
        });
    });
</script>
}

 *@




@section Scripts { 
 <script>
    $(document).ready(function () {
        $('[id^="ShowModal"]').click(function () {
            var itemId = $(this).attr('id').split('_')[1];
            $.ajax({
                type: 'GET',
                url: '/Category/Details/' + itemId, // 
                success: function (data) {
                    $('#exampleModal_' + itemId + ' .modal-body').html(data);
                    $('#exampleModal_' + itemId).modal('show');
                },
                error: function () {
                    alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                }
            });
        });

        $('[id^="exampleModal"] .close, [id^="ModalClose"]').click(function () {
            var itemId = $(this).attr('id').split('_')[1];
            $('#exampleModal_' + itemId).modal('hide');
        });
    });
</script>

}